# Node
node_modules/
dist/
npm-debug.log
yarn-error.log

# C/C++ build outputs
build/
bin/
*.o
*.a
*.so
*.dylib
*.dll
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs & Engine specific
engine/engine.log
server/engine.log
tournament.log
games/*.pgn

engine/tests
tests

#*.nnue
3-4-5/